OPENAI_API_KEY=sk-proj-xxxxx
HF_TOKEN=hf_xxxx
EMAIL_SENDER=example@example.com
EMAIL_PASSWORD=xxxx
EMAIL_RECIPIENT=example@example.com
SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=2525
SMTP_LOGIN=xxxx@smtp-brevo.com
GOOGLE_API_KEY=xxxxxxx